################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/RabbitMqLibrary/bin
/RabbitMqLibrary/obj
/TesteLib/obj
/TesteLib/bin
/obj
/SenffMensageria.API/bin/Debug/net8.0
/SenffMensageria.API/obj
/SenffMensageria.Application/bin/Debug/net8.0
/SenffMensageria.Application/obj
/SenffMensageria.Domain/bin/Debug/net8.0
/SenffMensageria.Domain/obj
/SenffMensageria.Infrastructure/bin/Debug/net8.0
/SenffMensageria.Infrastructure/obj
/Shared/bin/Debug/net8.0
/Shared/obj
/SenffMensageria.API/bin/Release/net8.0
/SenffMensageria.Application/bin/Release/net8.0
/SenffMensageria.Domain/bin/Release/net8.0
/SenffMensageria.Infrastructure/bin/Release/net8.0
/Shared/bin/Release/net8.0
